

.input1 {
    width: 40% !important;
    position: absolute;
    margin-top: 28%;
    margin-left: 18%;

}

.img1 {
    position: absolute;
    height: 120%;
    left: 60%;
    top: 20%;
}

.text1 {
    position: absolute !important;
    top: 40%;
    left: 18%;
}

.text_content {
    font-weight: 300px;
    font-size: 40px;
    color: white;
    /* padding: 10%; */
    padding-top: 2%;
    /* margin-left: 50%; */
    /* padding-left: 5%;*/
}